<li>
  <strong>{{ title }}</strong>
  <br/>
  <span class="has-inline-color cagov-step-list-content">
    {{ description | markdownify }}
  </span>
  <span class="has-inline-color cagov-step-list-content">
    {{ descriptionHtml }}
  </span>
</li>